
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <h1>Good job!</h1>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-3">
      <div class="col-1"></div>
      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="row mt-5"></div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <form routerLink="/workouts" routerLinkActive="active">
            <input class="buttonBuffer btn btn-primary btn-lg shadow" type="submit" value="Workout Now" />
        </form>
        <!-- <button type="button" class="buttonBuffer btn btn-primary btn-lg" routerLink="/workouts" routerLinkActive="active">Workout Now</button> -->
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
      <div class="col-8 text-center">
        <button type="button" class="buttonBuffer btn btn-primary btn-lg shadow">Review Past Workouts</button>
      </div>
      <div class="col-2"></div>
    </div>
